Q1. What are the characteristics of the tuples? Is tuple immutable?

Q1- Characteristics of tuple: its ordered, allows duplicates and once a value is assigned it can not be changed . Its immutable

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

Q2- Tuple contains 2 methods
1. index()
2. count

Tuple has only 2 methods because its immutable and it can not be changed

Example for methods

In [ ]:
tu=(1,2,3,4,5,5,5,6)
tu.index(3) # it gives index and its op is 2 as index starts from 0
tu.count(5) # its op is 3 as 5 is repeated 3 times

3

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Q3-Set data type doesnot allow duplicate

In [1]:
#example to remove duplicated
ls=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(ls)

{1, 2, 3, 4}

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

In [23]:
Update:It will update the existing set,Return type is none
Union :It will create a new set and return it. Return type is set

In [17]:
s1={1,2,3,4,5}
print("id of s1 before update=",id(s1))
s2={4,5,6,7,8}
s1.update(s2)
print("id of s1 after update=",id(s1))

id of s1 before update= 139641943808864
id of s1 after update= 139641943808864

In [4]:
s1={1,2,3,4,5}
print("id of s1 before union=",id(s1))
s2={4,5,6,7,8}
s1=s1.union(s2)
print("id of s1 after union=",id(s1))
s1

139641943808640

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Q5
Dictonary is a datatype is python which stores data in the format of key & value pairs. Its denoted by {key:value}. Dictonary is ordered in nature

In [6]:
#eg: 
dcdt={1:2,"abc":"d"}
type(dcdt)

dict

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Q6
Yes nested dictonary can be created

In [1]:
dct = {1:{1:2}, 2:{3:{4}}}
dct

{1: {1: 2}, 2: {3: {4}}}

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [1]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics','["Python", "Machine Learning", "Deep Learning"]')
#dict1['topics']= 
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': '["Python", "Machine Learning", "Deep Learning"]'}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Q8
There are 3 view objects in dict
1. Keys
2. Vlaues
3. items

In [18]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [25]:
print("keys are:",dict1.keys())

keys are: dict_keys(['Sport', 'Teams'])

In [26]:
print("values are:",dict1.values())

items are: dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [27]:
print("items are:",dict1.items())

items are: dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])